<div class="container">
	<div class="login-wrap">
		<div class="login-about">
			<h2 class="m-0">GLOBAL HEALTHCARE больница</h2>
			<div class="login-about__icon">
				<img src="assets/images/login-about-icon.svg" alt="company icon">
			</div>
		</div>
		<div class="login-form">
			<form action="" class="form-series">
				<h2>Входить</h2>
				<div class="series">
					<label for="name">Имя</label>
					<input type="text" placeholder="Ваше имя">
				</div>
				<div class="series">
					<label for="pass">Parol</label>
					<input type="password" placeholder="parol">
				</div>
				<button type="submit">Отправка</button>
			</form>
		</div>
	</div>
</div>