<div data-aos="fade-down">
	<div class="footer-top">
		<div class="footer-top__wrap">
			<h1 class="m-0">У вас есть вопрос?</h1>
			<div class="footer-top__contact">
				<div class="top__contact-tel">
					<div class="tel-icon">
						<img src="assets/images/footer-top__tel.svg" alt="tel icon">
					</div>
					<div class="tel-numb">
						<a href="tel:+998997111122">+998 (99) 711 1122</a>
						<p class="m-0">Связаться с нами</p>
					</div>
				</div>
				<button type="button" routerLink="/contact">Отправить сообщение</button>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="footer-wrap">
			<div class="footer-left">
				<a routerLink="" class="footer-lofo">
					<img src="assets/images/logo.png" alt="logo">
				</a>
				<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
					standard dummy text ever since the
				</p>
			</div>
			<div class="footer-series">
				<ul class="series__item">
					<li>
						<h2>Havolalar</h2>
					</li>
					<li><a routerLink="/">Главная</a></li>
					<li><a routerLink="/about">О нас</a></li>
					<li><a routerLink="/doctors">Врачи</a></li>
					<li><a routerLink="/service">Услуги</a></li>
					<li><a routerLink="/rooms">Чемберс</a></li>
					<li><a routerLink="/news">Новости</a></li>
					<li><a routerLink="/contact">Связь</a></li>
				</ul>
				<ul class="series__item series__item-contact">
					<li>
						<h2>связаться с нами</h2>
					</li>
					<li>
						<a routerLink="">
							<span>
								<img width="100%" height="100%" src="assets/images/footer-icon-email.svg" alt="email">
							</span>
							<span>globalhealthcare&#64;gmail.com</span></a>
					</li>
					<li>
						<a routerLink="">
							<span>
								<img width="100%" height="100%" src="assets/images/footer-icon-phone.svg" alt="phone">
							</span>
							<span>+998(99) 111 22 33</span></a>
					</li>
					<li>
						<a routerLink="">
							<span>
								<img width="100%" height="100%" src="assets/images/footer-icon-location.svg" alt="location">
							</span>
							<span>
								Toshkent sh,
							</span>
						</a>
					</li>
					<div class="sub-bloc">
						<h3>Obuna bo’ling</h3>
						<div class="footer-networks">
							<a href="">
								<img src="assets/images/blue-tg.svg" alt="gmail icon" width="100%" height="100%">
							</a>
							<a href="">
								<img src="assets/images/blue-yt.svg" alt="gmail icon" width="100%" height="100%">
							</a>
							<a href="">
								<img src="assets/images/blue-inst.svg" alt="gmail icon" width="100%" height="100%">
							</a>
						</div>
					</div>
				</ul>
			</div>
		</div>
		<span class="footer-line"></span>
	</div>
</footer>