<div class="h180"></div>
<div class="page-title-block" data-aos="fade-up">
	<h1 class="m-0" [innerHTML]="$header.title"></h1>
	<h3 class="m-0" [innerHTML]="$header.descr"></h3>
</div>
<div class="service-orders">
	<div class="order-item" data-aos="fade-right">
		<div class="order-item__icon">
			<img src="assets/images/order-icon.svg" alt="order icon" width="100%" height="100%">
		</div>
		<div class="order-item__txt">
			<h3 class="m-0">Имеет сертификат международ <br> ной системы образования.</h3>
		</div>
	</div>
	<div class="order-item" data-aos="fade-left">
		<div class="order-item__icon">
			<img src="assets/images/order-icon.svg" alt="" alt="order icon" width="100%" height="100%">
		</div>
		<div class="order-item__txt">
			<h3 class="m-0">Имеет сертификат международ <br> ной системы образования.</h3>
		</div>
	</div>
</div>

<div class="container">
	<div class="about-desc grid">
		<div class="about-desc__left" data-aos="fade-up">
			<div class="about-desc__user">
				<div class="desc-user">
					<img src="assets/images/about-detal-1.svg" alt="about detal">
					<img class="desc-user__img" src="assets/images/user.png" alt="user image">
				</div>
			</div>
			<div class="user-about">
				<h3 class="m-0">Inomjon Yusupov</h3>
				<h4 class="mt-0">CEO & основатель клиники</h4>
				<span class="user-about__line"></span>
			</div>
		</div>
		<div class="about-desc__right" data-aos="fade-up">
			<p class="m-0">Nexus School - Bizning markazimiz 2021-yil 30- sentyabrda tashkil etilgan. Mana shu davr mobaynida Harvard
				School o’quv markazi shiddat bilan rivojlanib bormoqda. Bu yerda muhit, ta’lim olish borasidagi.</p>
		</div>
	</div>
</div>
<app-about-slider></app-about-slider>