<div class="grid">
	<div class="col-12 md:col-12">
		<div class="card appointment-card">
			<ng-container *ngIf="($appointment | async) as appointment; else loading">
				<p-table [value]="($appointment_service | async) ?? []" sortField="appointment_id" sortMode="single"
					[scrollable]="true" scrollHeight="400px" rowGroupMode="subheader" [groupRowsBy]="'appointment.date'"
					[tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines">
					<ng-template pTemplate="header">
						<tr>
							<th>Xizmat</th>
							<th>Doktor</th>
							<th>Narx</th>
							<th>Date</th>
							<th>Navbat</th>
						</tr>
					</ng-template>

					<ng-template pTemplate="groupheader" let-app_service>
						<tr pRowGroupHeader [attr.id]="'group-' + app_service.id">
							<td colspan="5" class="group text-center">
								<span class="font-bold ml-2">Qabul rajalashtirilgan sana: {{app_service?.appointment?.date | date :
									'dd.MM.yyyy'}}</span>
								<!-- <span class="downloadPDF">
									<button pButton icon="pi pi-print" (click)="downloadPDF('group-' + app_service.id)" label="Yuklab olish"></button>
								</span> -->
							</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="groupfooter" let-app_service>
						<tr>
							<td colspan="5" class="text-right pr-6">
								<div *ngIf="paymentPrice(app_service?.appointment?.transactions) as pay; else payment_else">
									<span class="p3 primary">Jami narx: {{app_service?.appointment?.price}} so'm</span>
									<span class="p3 success" *ngIf="pay != 0">To'langan: {{ pay }} so'm</span>
									<span class="p3 danger" *ngIf="(app_service?.appointment?.price - pay) != 0">Qarz: {{ app_service?.appointment?.price - pay
										}} so'm</span>
								</div>
								<ng-template #payment_else>
									<span class="p3 primary">Jami narx: {{app_service?.appointment?.price}} so'm</span>
									<span class="p3 danger">Qarz: {{app_service?.appointment?.price}} so'm</span>
								</ng-template>
							</td>
						</tr>
					</ng-template>

					<ng-template pTemplate="body" let-app_service let-rowIndex="rowIndex">
						<tr>
							<td>
								{{app_service?.service?.name}}
							</td>
							<td>
								{{app_service?.staff?.fullname ? app_service?.staff?.fullname : '-'}}
							</td>
							<td>
								{{app_service?.price ? app_service?.price + ' so\'m' : '-'}}
							</td>
							<td>
								{{app_service?.queue_list?.date ? (app_service?.queue_list?.date | date : 'dd.MM.YYYY') : '-'}}
							</td>
							<td>
								{{app_service?.queue_list?.number ? 'N' + app_service?.queue_list?.number : '-'}}
							</td>
						</tr>
					</ng-template>

					<ng-template pTemplate="footer">
						<tr *ngIf="!appointment.length">
							<td colspan="6" class="text-center">
								<div class="py-6 my-6">
									<span class="pi pi-inbox" style="font-size: 4rem;"></span>
									<h3>Malumotlar yo'q</h3>
								</div>
							</td>
						</tr>
					</ng-template>
				</p-table>
			</ng-container>

			<ng-template #loading>
				<div class="col-12 my-6 py-6">
					<div class="spinner">
						<p-progressSpinner ariaLabel="loading" />
					</div>
				</div>
			</ng-template>
		</div>
	</div>
</div>